extend base_layout
  
block head
  link(rel='stylesheet', href="/public/css/carry.css")

block page_content
  .container
      header.text-center
        h1 The OpenDota API
        a(href="//odota.github.io/docs")
          button#thething.btn.btn-warning View API Docs
      hr
      .row
        #alert.alert.alert-danger(role="alert", style="display:none;")
        .col-md-12
          .text-center
            h4 Want to build your own service on top of our API?
            p It's cheap to get started & keeps OpenDota running.
          table.table
            tr
              th First 25000 Calls/month
              th Any Calls >25000/month
            tr
              td FREE
              td TBD API calls
          h4 Details
          ol
            li Calls over 25000/month will require an API key.
            li Keyless API calls are limited to 1 call per second. Calls with API keys are limited to 3 calls per second.
            li Getting an API key requires a linked-credit card. We'll automatically charge the card at the beginning of the month for any fees owed.
            li Payment is processed with Stripe. We never store your credit card information.
          .text-center
            if user
              if key
                h4 Your API key
                pre=key
                a(href="/api/delete")
                  button.btn.btn-danger Delete Key (cannot be undone)
                button.btn.btn-default(onClick="openUpdate()") Update Payment Method
                p We have a #{credit_brand} ending in #{credit_last4} on file. We'll charge this every month for any fees owned.
              else
                button.btn.btn-warning(onClick="showModal()") Get my API key
            else  
              p
                i.fa.fa-info-circle.carry-info-icon
                | Log in to get your API key.
       hr
      .row.carry-col.carry-feature
        .col-md-4
          h3 Be at the top
          span.fa.fa-line-chart.fa-5x
          p.text(style="margin-top:1em;") Get listed as a <a href="#top">top contributor</a>. People will be all, "Wow!"
        .col-md-4
          h3 Cheese your profile
          span.flaticon-1.medium-cheese(style="font-size: 5em; line-height: .96;")
          p.text(style="margin-top:1em;") Cause cheese is awesome.
        .col-md-4
          h3 Feel good about yourself
          span.fa.fa-heart-o.fa-5x
          p.text(style="margin-top:1em;") You're awesome.
      .modal(style="display:none;")
        .jumbotron
          ol
            li Getting an API key requires a linked-credit card.
            li You're authorizing us to automatically charge the card at the beginning of the month for any fees owed.
            li Payment is processed with Stripe. We never store your credit card information.
          .text-center
            button.btn.btn-warning(style="text-transform: initial;", onClick="openStripe()") Link my card
append footer_assets
   style.
     .img-thumbnail { width: 40px;}
   script(src="https://checkout.stripe.com/checkout.js")
   script.
    var stripe_public = "#{stripe_public}";
   script(src="/public/js/api.js")