.container
  .navbar(style="margin-bottom:0px")
    .navbar-header
      a.navbar-brand(href='#{host}')
        strong.theme-blue OpenDota
        a.navbar-toggle(data-toggle='collapse', data-target='.navbar-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
    #navbar.navbar-collapse.collapse
      ul.nav.navbar-nav.navbar-right
        if user
          li: a(href="#{host}/players/"+user.account_id) Profile
          li: a(href="#{login_host}/logout") Logout
        else
          li: a(href="#{login_host}/login") Login
