.container
  .navbar(style="margin-bottom:0px")
    .navbar-header
      a.navbar-brand(href='//www.opendota.com')
        strong.theme-blue OpenDota
        a.navbar-toggle(data-toggle='collapse', data-target='.navbar-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
    #navbar.navbar-collapse.collapse
      ul.nav.navbar-nav.navbar-right
        if user
          li: a(href="/players/"+user.account_id) Profile
          li: a(href="/logout") Logout
        else
          li: a(href="//opendota.com/login") Login
